<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Book | Suite Dreams</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
  <div class="container mx-auto">
    <div class="flex flex-col items-center h-screen m-10">
      <h1 class="text-4xl font-bold">Suite Dreams</h1>

      <div class="bg-white shadow-lg rounded-lg flex flex-col w-2/3 m-10 items-center justify-center">
        <a class="bg-blue-500 text-white font-bold p-2 m-5 rounded-lg w-1/2 cursor-pointer text-center"
          href="/book">Book a room &rarr;</a>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-10">
          <table class="w-full text-sm text-left">
            <thead class="text-xs uppercase bg-gray-200">
              <tr>
                <th scope="col" class="px-6 py-3">Date</th>
                <th scope="col" class="px-6 py-3">Title</th>
                <th scope="col" class="px-6 py-3">Room</th>
                <th scope="col" class="px-6 py-3">Start</th>
                <th scope="col" class="px-6 py-3">End</th>
                <th scope="col" class="px-6 py-3">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white border-b">
                <td class="px-6 py-4">2021-10-10</td>
                <td class="px-6 py-4">Meeting</td>
                <td class="px-6 py-4">1</td>
                <td class="px-6 py-4">10:00</td>
                <td class="px-6 py-4">11:00</td>
                <td class="px-6 py-4">None</td>
              </tr>
              <tr class="bg-white border-b">
                <td class="px-6 py-4">2021-10-10</td>
                <td class="px-6 py-4">Meeting</td>
                <td class="px-6 py-4">1</td>
                <td class="px-6 py-4">10:00</td>
                <td class="px-6 py-4">11:00</td>
                <td class="px-6 py-4">None</td>
              </tr>
              <tr class="bg-white border-b">
                <td class="px-6 py-4">2021-10-10</td>
                <td class="px-6 py-4">Meeting</td>
                <td class="px-6 py-4">1</td>
                <td class="px-6 py-4">10:00</td>
                <td class="px-6 py-4">11:00</td>
                <td class="px-6 py-4">None</td>
              </tr>
              <tr class="bg-white border-b">
                <td class="px-6 py-4">2021-10-10</td>
                <td class="px-6 py-4">Meeting</td>
                <td class="px-6 py-4">1</td>
                <td class="px-6 py-4">10:00</td>
                <td class="px-6 py-4">11:00</td>
                <td class="px-6 py-4">None</td>
              </tr>
              <tr class="bg-white border-b">
                <td class="px-6 py-4">2021-10-10</td>
                <td class="px-6 py-4">Meeting</td>
                <td class="px-6 py-4">1</td>
                <td class="px-6 py-4">10:00</td>
                <td class="px-6 py-4">11:00</td>
                <td class="px-6 py-4">None</td>
              </tr>
              <tr class="bg-white border-b">
                <td class="px-6 py-4">2021-10-10</td>
                <td class="px-6 py-4">Meeting</td>
                <td class="px-6 py-4">1</td>
                <td class="px-6 py-4">10:00</td>
                <td class="px-6 py-4">11:00</td>
                <td class="px-6 py-4">None</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
